snippet i "JS import NPM"
import ${1} from '$1';
endsnippet

snippet ri "JS relavitve import"
import ${1} from './$1';
endsnippet

snippet afn "My arrow function with return expression"
const ${1} = (${2}) => ${3};
endsnippet

snippet afun "My arrow function with body"
const ${1} = () => {
	${2}
};
endsnippet
