snippet jrfc "Jerry react flow functional component" b
/* @flow */

import React from 'react';

type Props = {`!p
props = t[3]

if props:
  snip >> 1
  for prop in props.split(', '):
    snip += prop + ': mixed,'
`
};

/**
 * $1
 */
const ${1:`!v expand('%:t:r')`} = (props: Props) => {
	const { $3 } = props;
	return (
		<${5:div}>$0</$5>
	);
};

export default $1;
endsnippet
